.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    width: 100%;

    position: sticky;
    top: 0;
    background-color: white;
    /* display: none; */
}

.none {
    display: none;
}

.header__icon>img {
    object-fit: contain;
    height: 87px;
    margin-left: 5em;
    /* position: relative;
    z-index: 1; */


}

.header__icon>img:hover {
    cursor: pointer;
}

/*The center elements of the header*/

.header__center {
    display: flex;
    flex-grow: 3;
    flex-basis: auto;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 24px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.2s ease-in-out;

}

.header__center:hover {
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


.header__center>input {
    border: none;
    padding: 10px;
    outline-style: none;
    outline-width: 0;
    /* width: 250px; */

}

.header__center>input:hover {
    cursor: pointer;

}

.header__center__searchIcon {

    background-color: #FF385C;
    border-radius: 50%;
    padding: 5px;
    color: white;

}

/*the right elements of the header*/

.header__right {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 80px;
    width: 24vw;


}

.header__right__profileIcons {
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
    width: 70px;
    border: 1px solid lightgray;
    border-radius: 24px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.2s ease-in-out;
    padding: 10px;


}

.header__right__profileIcons:hover {
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.header__right__currency {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
    border-radius: 24px;



}

.header__right__currency:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

.header__right>p {
    padding: 10px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 600;

}

.header__right>p:hover {

    background-color: #F5F5F5;
    cursor: pointer;
}

@media screen and (max-width:669px) {
    .header {
        /* display: block; */
    }

    .header__icon,
    .header__right {
        display: none;
    }

    .header__center {
        margin: 1em auto;
        max-width: none;
        justify-content: space-between;
    }

    .header__center>input {
        max-width: none;
        flex-grow: 3;
        flex-basis: auto;
    }

}